{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Авторизация
{% endblock %}
{% block body %}
    <!-- login -->
    <section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card boxed">
                    <div class="card-header">
                        <ul class="nav nav-tabs nav-fill card-header-tabs lavalamp" id="component-1" role="tablist">
                            <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
                                <a class="nav-link active" data-toggle="tab" href="#component-1-1" role="tab"
                                    aria-controls="component-1-1" aria-selected="true">Восстановить пароль</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="component-1-content">
                            <div class="tab-pane fade active show" id="component-1-1" role="tabpanel"
                                aria-labelledby="component-1-1">
                                <form method="post" class="row gutter-2">
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-label-group">
                                                        {{ form.email }}
                                                        <label for="{{ form.email.id_for_label }}">Email</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div>
                                        {{ form.captcha }}
                                    </div>
                                    <div class="col-12 text-center">
                                        <a>Разовый пароль придет Вам на почту</a>
                                    </div>
                                    <div class="col-12">
                                        <input type="submit" class="btn btn-primary btn-block" value="Получить пароль">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}