{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Поддержка
{% endblock %}
{% block body %}

<!-- hero -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>FAQ</h1>
          </div>
        </div>
      </div>
    </section>



    <section class="bg-light">
      <div class="container">
        <div class="row gutter-2 gutter-md-4">
          <div class="col-md-4 col-lg-3">
            <h2 id="section1" class="h3 mb-4 mb-mb-0">Доставка</h2>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="accordion accordion-minimal" id="accordion-1">
              <div class="card">
                <div class="card-header" id="heading-1-1">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                      Какие способы доставки доступны ?
                    </button>
                  </h2>
                </div>

                <div id="collapse-1-1" class="collapse" aria-labelledby="heading-1-1" data-parent="#accordion-1" style="">
                  <div class="card-body">
                    <p>Доставка осуществляется почтой России за ваш счет.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-1-2">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                     Каково время доставки ?
                    </button>
                  </h2>
                </div>
                <div id="collapse-1-2" class="collapse" aria-labelledby="heading-1-2" data-parent="#accordion-1" style="">
                  <div class="card-body">
                    <p>Время доставки может варьироваться в зависимости от вашего местоположения и выбранного способа доставки. Обычно мы стараемся доставить заказ в течение 2-5 рабочих дней. Однако, учтите, что некоторые товары могут иметь дополнительные сроки доставки, указанные на странице товара.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-1-3">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
                      Можно ли отслеживать мой заказ ?
                    </button>
                  </h2>
                </div>
                <div id="collapse-1-3" class="collapse" aria-labelledby="heading-1-3" data-parent="#accordion-1" style="">
                  <div class="card-body">
                    <p>Да, мы предоставляем информацию для отслеживания заказа. После отправки заказа мы предоставим вам номер отслеживания, который вы сможете использовать для проверки статуса доставки на сайте службы доставки.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-1-4">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-1-4" aria-expanded="false" aria-controls="collapse-1-4">
                      Какова стоимость доставки ?
                    </button>
                  </h2>
                </div>
                <div id="collapse-1-4" class="collapse show" aria-labelledby="heading-1-4" data-parent="#accordion-1" style="">
                  <div class="card-body">
                    <p>Стоимость доставки также зависит от выбранного способа доставки и вашего местоположения. Вы можете увидеть точную стоимость доставки на странице оформления заказа перед его подтверждением.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row gutter-2 gutter-md-4">
          <div class="col-md-4 col-lg-3">
            <h2 id="section2" class="h3 mb-4 mb-mb-0">Возврат</h2>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="accordion accordion-minimal" id="accordion-2">
              <div class="card">
                <div class="card-header" id="heading-2-1">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                      Каковы условия возврата товара ?
                    </button>
                  </h2>
                </div>

                <div id="collapse-2-1" class="collapse" aria-labelledby="heading-2-1" data-parent="#accordion-2">
                  <div class="card-body">
                    Мы принимаем возврат товара в течение 30 дней с момента покупки при условии, что товар находится в оригинальной упаковке и не был использован. Однако, некоторые товары, такие как гигиенические товары или программное обеспечение, могут иметь ограничения на возврат из-за своей природы. Пожалуйста, свяжитесь с нашей службой поддержки клиентов для получения дополнительной информации.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-2-2">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                      Как вернуть товар ?
                    </button>
                  </h2>
                </div>
                <div id="collapse-2-2" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
                  <div class="card-body">
                    Для возврата товара, пожалуйста, свяжитесь с нашей службой поддержки клиентов, чтобы получить инструкции и разрешение на возврат. Мы предоставим вам адрес для отправки товара. Пожалуйста, упакуйте товар должным образом, чтобы избежать повреждений во время транспортировки.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-2-3">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                      Каковы сроки возврата средств ?
                    </button>
                  </h2>
                </div>
                <div id="collapse-2-3" class="collapse" aria-labelledby="heading-2-3" data-parent="#accordion-2">
                  <div class="card-body">
                    После получения возвращенного товара и проверки его состояния, мы произведем возврат средств в течение 7 рабочих дней. Обратите внимание, что время зачисления средств на вашу платежную карту может зависеть от банка или платежной системы и может занять дополнительное время.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row gutter-2 gutter-md-4">
          <div class="col-md-4 col-lg-3">
            <h2 id="section3" class="h3 mb-4 mb-mb-0">Оплата</h2>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="accordion accordion-minimal" id="accordion-3">
              <div class="card">
                <div class="card-header" id="heading-3-1">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-3-1" aria-expanded="false" aria-controls="collapse-3-1">
                     Какие способы оплаты вы принимаете ?
                    </button>
                  </h2>
                </div>
                <div id="collapse-3-1" class="collapse" aria-labelledby="heading-3-1" data-parent="#accordion-3">
                  <div class="card-body">
                    <p>Мы принимаем различные способы оплаты, включая кредитные и дебетовые карты, электронные платежные системы (например, PayPal), банковские переводы и оплату при получении (только для некоторых регионов). Выберите наиболее удобный для вас способ оплаты при оформлении заказа.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-3-2">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-3-2" aria-expanded="false" aria-controls="collapse-3-2">
                      Могу ли я получить квитанцию об оплате ?
                    </button>
                  </h2>
                </div>
                <div id="collapse-3-2" class="collapse" aria-labelledby="heading-3-2" data-parent="#accordion-3">
                  <div class="card-body">
                    <p>Да, после завершения оплаты вы получите электронную квитанцию на указанный вами адрес электронной почты. Кроме того, вы также можете запросить бумажную квитанцию, которая будет включена в вашу посылку.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}