{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Поддержка
{% endblock %}
{% block body %}

<!-- hero -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>FAQ</h1>
          </div>
        </div>
      </div>
    </section>



    <section class="bg-light">
      <div class="container">
        <div class="row gutter-2 gutter-md-4">
          <div class="col-md-4 col-lg-3">
            <h2 id="section1" class="h3 mb-4 mb-mb-0">Доставка</h2>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="accordion accordion-minimal" id="accordion-1">
            {% if ship_info %}
    {% for sh in ship_info %}
        <div class="card">
            <div class="card-header" id="heading-1-{{ forloop.counter }}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-1-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-1-{{ forloop.counter }}">
                        {{ sh.header }}
                    </button>
                </h2>
            </div>

            <div id="collapse-1-{{ forloop.counter }}" class="collapse" aria-labelledby="heading-1-{{ forloop.counter }}" data-parent="#accordion-1" style="">
                <div class="card-body">
                    <p>{{ sh.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row gutter-2 gutter-md-4">
          <div class="col-md-4 col-lg-3">
            <h2 id="section2" class="h3 mb-4 mb-mb-0">Возврат</h2>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="accordion accordion-minimal" id="accordion-2">
              {% if return_info %}
    {% for r in return_info %}
        <div class="card">
            <div class="card-header" id="heading-2-{{ forloop.counter }}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-2-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-2-{{ forloop.counter }}">
                        {{ r.header }}
                    </button>
                </h2>
            </div>

            <div id="collapse-2-{{ forloop.counter }}" class="collapse" aria-labelledby="heading-2-{{ forloop.counter }}" data-parent="#accordion-2" style="">
                <div class="card-body">
                    <p>{{ r.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row gutter-2 gutter-md-4">
          <div class="col-md-4 col-lg-3">
            <h2 id="section3" class="h3 mb-4 mb-mb-0">Оплата</h2>
          </div>
          <div class="col-md-8 col-lg-9">
            <div class="accordion accordion-minimal" id="accordion-3">
              {% if payment_info %}
    {% for p in payment_info %}
        <div class="card">
            <div class="card-header" id="heading-3-{{ forloop.counter }}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-3-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-3-{{ forloop.counter }}">
                        {{ p.header }}
                    </button>
                </h2>
            </div>

            <div id="collapse-3-{{ forloop.counter }}" class="collapse" aria-labelledby="heading-3-{{ forloop.counter }}" data-parent="#accordion-3" style="">
                <div class="card-body">
                    <p>{{ p.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}